<header class="hd">
  <div class="hd__content">
    <div class="hd__lg"></div>
    <div class="hd__hamb" {{action 'openCloseOverlay'}}></div>
    <nav class="hd__nav">
      <ul class="hd__nav__list">
        <li class="hd__nav__list__item"><a href="#" {{action 'goToSlide' 0}}>{{t "menu.about"}}</a></li>
        <li class="hd__nav__list__item"><a href="#" {{action 'goToSlide' 1}}>{{t "menu.work"}}</a></li>
        <li class="hd__nav__list__item"><a href="#" {{action 'goToSlide' 2}}>{{t "menu.services"}}</a></li>
        <li class="hd__nav__list__item"><a href="#" {{action 'goToSlide' 3}}>{{t "menu.contact"}}</a></li>
      </ul>
    </nav>
  </div>
</header>

{{outlet}}

<footer class="footer">
  <div class="footer__lg"></div>
  {{#if (is-equal currentLocation 'en')}}
    <a href="/es/" class="footer__lang">{{currentLocation}}</a>
  {{else}}
    <a href="/" class="footer__lang">{{currentLocation}}</a>
  {{/if}}
  <div class="footer__line"></div>
  <div class="footer__line footer__line--2"></div>
</footer>

<div class="overlay {{if showOverlay 'overlay--show' ''}}">
  <a href="#" class="overlay__close" {{action 'openCloseOverlay'}}></a>
  <ul class="overlay__list">
    <li class="overlay__list__item"><a href="#" class="overlay__list__item__link" {{action 'menuGoToSlide' 0}}>{{t "menu.about"}}</a></li>
    <li class="overlay__list__item"><a href="#" class="overlay__list__item__link" {{action 'menuGoToSlide' 1}}>{{t "menu.work"}}</a></li>
    <li class="overlay__list__item"><a href="#" class="overlay__list__item__link" {{action 'menuGoToSlide' 2}}>{{t "menu.services"}}</a></li>
    <li class="overlay__list__item"><a href="#" class="overlay__list__item__link" {{action 'menuGoToSlide' 3}}>{{t "menu.contact"}}</a></li>
  </ul>
  {{#if (is-equal currentLocation 'en')}}
    <a href="/es/" class="overlay__lang">{{currentLocation}}</a>
  {{else}}
    <a href="/" class="overlay__lang">{{currentLocation}}</a>
  {{/if}}
</div>
